# this is a check configure list file
# creat time : 2016.5.3
# modify time :2016.6.2

##### hwinfo information
/sys/class/swmon/hwinfo
product_name		|   [max 64 char]	|   r
part_number		|   [max 32 char]	|   r
serial_number		|   [max 32 char]	|   r
mac_address		|  XX:XX:XX:XX:XX:XX    |   r
device_version		|   [max 32 char]	|   r
platform_name		|   [max 32 char]	|   r
onie_version		|   [max 32 char]	|   r
vendor_name		|   [max 32 char]	|   r

##### psu information
/sys/class/swmon/psu
present	        	|   [0-1]		|   r
power_good		|   [0-1]		|   r
power_alarm		|   [0-1]		|   r
tempX_input		|   [-128000-127996]	|   r
fanX_input		|   [0-65535]		|   r
fanX_fault		|   [0-1]		|   r
serial_number		|   [max 24 char]	|   r
model_name		|   [max 32 char]	|   r

##### sfp/sfp+ ports information
/sys/class/swmon/ports
plugged_in		|   [0-1]		|   r
identifier		|   [0-255]		|   r
ext_identifier		|   [0-255]		|   r
connector_type		|   [0-255]		|   r
transceiver_code	|   [0-255]		|   r
length_smf		|   [0-255]		|   r
length_sm		|   [0-255]		|   r
length_om1		|   [0-255]		|   r
length_om2		|   [0-255]		|   r
length_om3		|   [0-255]		|   r
length_om4		|   [0-255]		|   r
wavelength		|   [0-65535]		|   r
update_enable		|   [0-1]		|   rw
temperature		|   [-128000-127996]	|   r
supply_voltage		|   [0-65535]		|   r
bias_current		|   [0-65535]		|   r
tx_power		|   [0-65535]		|   r
rx_power		|   [0-65535]		|   r
vendor_name		|   [max 16 char]	|   r
vendor_pn		|   [max 16 char]	|   r
vendor_sn		|   [max 16 char]	|   r

##### qsfp ports information
/sys/class/swmon/ports
plugged_in		|   [0-1]		|   r
identifier		|   [0-255]		|   r
ext_identifier		|   [0-255]		|   r
connector_type		|   [0-255]		|   r
transceiver_code	|   [0-255]		|   r
length_smf		|   [0-255]		|   r
length_om1		|   [0-255]		|   r
length_om2		|   [0-255]		|   r
length_om3		|   [0-255]		|   r
length_om4		|   [0-255]		|   r
wavelength		|   [0-65535]		|   r
temperature		|   [-128000-127996]	|   r
supply_voltage		|   [0-65535]		|   r
rx1_power		|   [0-65535]		|   r
rx2_power		|   [0-65535]		|   r
rx3_power		|   [0-65535]		|   r
rx4_power		|   [0-65535]		|   r
tx1_bias_current	|   [0-65535]		|   r
tx2_bias_current	|   [0-65535]		|   r
tx3_bias_current	|   [0-65535]		|   r
tx4_bias_current	|   [0-65535]		|   r
vendor_sn		|   [max 16 char]	|   r
vendor_name		|   [max 16 char]	|   r
vendor_pn		|   [max 16 char]	|   r
update_enable		|   [0-1]		|   rw
lpmode_enable		|   [0-1]		|   rw
reset_enable		|   [0-1]		|   rw

##### ctrl information
/sys/class/swmon/ctrl
fan_number		|   [0-255]		|   r
fanr_number		|   [0-255]		|   r
fan_direction		|   [0-1]		|   r
cpu_temp_input		|   [-128000-127996]	|   r
switch_temp_input	|   [-128000-127996]	|   r
board_temp_input	|   [-128000-127996]	|   r
start_mode		|  warm or cold start	|   r
fanX_input		|   [0-65535]		|   r
fanrX_input		|   [0-65535]		|   r
fanX_fault		|   [0-1]		|   r
fanrX_fault		|   [0-1]		|   r
pwmX			|   [0-255]		|   rw

##### leds information
/sys/class/leds
psuX_led/brightness	|   [0-3]		|   rw
fan_led/brightness	|   [0-3]		|   rw
diag_led/brightness	|   [0-2]		|   rw
loc_led/brightness	|   [0-1]		|   rw

##### watchdog information
/sys/class/watchdog/watchdog0
wdt_enable		|   [0-1]		|   rw
keep_alive		|   [1]			|   w
time_left		|   [0-65535]		|   r
timeout			|   [0-65535]		|   rw

