CONFIG_SWAP
CONFIG_SYSVIPC
CONFIG_POSIX_MQUEUE
CONFIG_BSD_PROCESS_ACCT
CONFIG_AUDIT
CONFIG_IKCONFIG
CONFIG_UID16
CONFIG_SYSCTL_SYSCALL
CONFIG_PRINTK
CONFIG_PM_DEBUG
CONFIG_EPOLL
CONFIG_PROFILING 
CONFIG_MODULE_UNLOAD
CONFIG_MODULE_FORCE_UNLOAD
CONFIG_BLOCK
CONFIG_IOSCHED_CFQ
CONFIG_PCI
CONFIG_PCIEPORTBUS
CONFIG_PCI_MMCONFIG
CONFIG_PCI_DEBUG
CONFIG_PACKET
CONFIG_UNIX
CONFIG_NET_KEY
CONFIG_INET
CONFIG_IP_MULTICAST
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_ROUTE_VERBOSE
CONFIG_IP_PNP
CONFIG_IP_PNP_DHCP
CONFIG_IP_PNP_BOOTP
CONFIG_IP_PNP_RARP
CONFIG_NET_IPIP
CONFIG_IP_MROUTE
CONFIG_IP_MROUTE_MULTIPLE_TABLES
CONFIG_IP_PIMSM_V1
CONFIG_IP_PIMSM_V2
CONFIG_ARPD
CONFIG_SYN_COOKIES
CONFIG_INET_AH
CONFIG_INET_ESP
CONFIG_INET_IPCOMP
CONFIG_INET_XFRM_MODE_TRANSPORT
CONFIG_INET_XFRM_MODE_TUNNEL
CONFIG_INET_XFRM_MODE_BEET
CONFIG_INET_DIAG
CONFIG_TCP_CONG_ADVANCED 
CONFIG_IPV6
CONFIG_IPV6_ROUTER_PREF
CONFIG_INET6_XFRM_MODE_TRANSPORT
CONFIG_INET6_XFRM_MODE_TUNNEL
CONFIG_INET6_XFRM_MODE_BEET
CONFIG_IPV6_SIT
CONFIG_IPV6_SUBTREES
CONFIG_NETFILTER
CONFIG_NETFILTER_ADVANCED
CONFIG_BRIDGE_NETFILTER
CONFIG_NETFILTER_NETLINK_QUEUE
CONFIG_NF_CONNTRACK
CONFIG_NETFILTER_XTABLES
CONFIG_NETFILTER_XT_TARGET_MARK
CONFIG_NETFILTER_XT_MATCH_CONNLIMIT
CONFIG_NETFILTER_XT_MATCH_DSCP
CONFIG_NETFILTER_XT_MATCH_LIMIT
CONFIG_NETFILTER_XT_MATCH_MAC
CONFIG_NETFILTER_XT_MATCH_MULTIPORT
CONFIG_NETFILTER_XT_MATCH_RECENT
CONFIG_NETFILTER_XT_MATCH_STATE
CONFIG_NF_CONNTRACK_IPV4
CONFIG_NF_CONNTRACK_PROC_COMPAT
CONFIG_IP_NF_IPTABLES
CONFIG_IP_NF_TARGET_REJECT
CONFIG_IP_NF_MANGLE
CONFIG_IP_NF_ARPTABLES
CONFIG_IP_NF_ARPFILTER
CONFIG_IP_NF_ARP_MANGLE
IP6_NF_IPTABLES
CONFIG_IP6_NF_FILTER
CONFIG_IP6_NF_TARGET_REJECT
CONFIG_IP6_NF_MANGLE
CONFIG_STP
CONFIG_BRIDGE
CONFIG_BRIDGE_IGMP_SNOOPING
CONFIG_VLAN_8021Q
CONFIG_LLC
CONFIG_NET_SCHED
CONFIG_NET_CLS_FLOW
CONFIG_NET_SCH_FIFO
CONFIG_DNS_RESOLVER
CONFIG_RPS
CONFIG_RFS_ACCEL
CONFIG_XPS
CONFIG_BQL
CONFIG_HAVE_BPF_JIT
CONFIG_PREVENT_FIRMWARE_BUILD
CONFIG_FW_LOADER
CONFIG_CONNECTOR
CONFIG_PROC_EVENTS
CONFIG_MTD
CONFIG_MTD_CHAR
CONFIG_MTD_BLKDEVS
CONFIG_MTD_BLOCK
CONFIG_BLK_DEV
CONFIG_EEPROM_AT24
CONFIG_EEPROM_AT25
CONFIG_SCSI
CONFIG_BLK_DEV_SD
CONFIG_ATA
CONFIG_ATA_VERBOSE_ERROR
CONFIG_NETDEVICES
CONFIG_NET_CORE
CONFIG_ETHERNET
CONFIG_INPUT
CONFIG_VT
CONFIG_CONSOLE_TRANSLATIONS
CONFIG_VT_CONSOLE
CONFIG_HW_CONSOLE
CONFIG_UNIX98_PTYS
CONFIG_LEGACY_PTYS
CONFIG_DEVKMEM
CONFIG_SERIAL_8250
CONFIG_SERIAL_8250_CONSOLE
CONFIG_FIX_EARLYCON_MEM
CONFIG_SERIAL_8250_PCI
CONFIG_SERIAL_8250_PNP
CONFIG_SERIAL_8250_EXTENDED
CONFIG_SERIAL_8250_SHARE_IRQ
CONFIG_SERIAL_CORE
CONFIG_SERIAL_CORE_CONSOLE
CONFIG_HW_RANDOM
CONFIG_I2C
CONFIG_I2C_BOARDINFO
CONFIG_I2C_COMPAT
CONFIG_I2C_CHARDEV
CONFIG_I2C_MUX
CONFIG_I2C_SMBUS
CONFIG_USB
CONFIG_MMC
CONFIG_MMC_BLOCK
CONFIG_RTC_CLASS
CONFIG_RTC_HCTOSYS_DEVICE
CONFIG_RTC_INTF_SYSFS
CONFIG_RTC_INTF_PROC
CONFIG_RTC_INTF_DEV
CONFIG_EXT2_FS
CONFIG_EXT2_FS_XATTR
CONFIG_EXT3_FS
CONFIG_EXT3_FS_XATTR
CONFIG_EXT4_FS
CONFIG_EXT4_FS_XATTR
CONFIG_FILE_LOCKING
CONFIG_FSNOTIFY
CONFIG_DNOTIFY
CONFIG_INOTIFY_USER
CONFIG_FAT_FS
CONFIG_MSDOS_FS
CONFIG_VFAT_FS
CONFIG_PROC_FS
CONFIG_SYSFS
CONFIG_NLS
CONFIG_NLS_DEFAULT
CONFIG_NLS_CODEPAGE_437
CONFIG_NLS_ASCII
CONFIG_NLS_ISO8859_1
CONFIG_NLS_UTF8
CONFIG_DEBUG_INFO
CONFIG_CRYPTO_MD5
CONFIG_CRYPTO_SHA1
CONFIG_CRYPTO_SHA256
CONFIG_CRYPTO_SHA512
CONFIG_CRYPTO_AES
CONFIG_CRYPTO_DES
CONFIG_CRC16
CONFIG_CRC_T10DIF
CONFIG_CRC32
CONFIG_CRC32_SLICEBY8
CONFIG_XZ_DEC
CONFIG_VFP
